// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
     // Cairo font 
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'bootswatch';

body{
    font-family: 'Cairo', sans-serif;
    color : #555 !important;
    
}

ul li{
    list-style: none;
    a{
        font-weight: bold;
    }
}
/*
a:link {
    color: orange;
}

a:visited {
    color: #b15907;
}

a:hover {
    color: rgb(114, 93, 53);
}
*/


.text-orange{
    color:orange;
}

#main_page{
    min-height: calc(100vh - 500px) ;
}
#main_page_admin{
    min-height: calc(100vh - 76px) ;
}


/*****************  Dashboard  **********************/

#dashboard-sidebar{
    min-height : calc( 100vh - 76px );
}